.table {
	background-color: yellow;
	width: 100%;
}

.tableRow {
	text-align: left;
	vertical-align : top;
}

#no {
	width: 2%;
	 text-align: left;
}

#Word {
	width: 4%;
	 text-align: left;
}

#Meaning {
	width: 10%;
	 text-align: left;
}

#Definition {
	width: 30%;
	 text-align: left;
}

#Additional_Info {
	width: 5%;
	 text-align: left;
}

#Relevant_Example {
	width: 10%;
	 text-align: left;
}

#Root_Index {
	width: 1%;
	 text-align: left;
}

#Root_Unit {
	width: 1%;
	 text-align: left;
}

#Date {
	width: 3%;
	 text-align: right;
}