.tbodyTableWordsFromDB {
  vertical-align: top;
  text-align: left;
  
}

.tableRow {
	border-left: 1px solid #000000;  	
	border-bottom: 1px solid #000000;  	
}

.lettersTypedByUserMagnified #lbllettersTypedByUser {
	font-size: 100px;
	padding-left: 25%;
	padding-right: 25%;
}

.divConfigurationSection label {
	display:block;
	clear:both;
}

.txtUserInput {
	width : 15%;
}


.divHeading {
	display: flex;
	justify-content: space-around;
}

.divHeading a {
	text-decoration: none; /* Remove underline */
}

footer {
	display: flex;
	justify-content: center;
}