:root {
	--header_height_in_px: 140px;
	--header_background: #d7d7d7;
	--body_results_background: #ffffff;
	--body_menu_background: #d7d7d7;
}

body {
	background: var(--body_results_background);
}

.divHeading {
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 0;
	color: #383894;
}

.divHeading a {
	text-decoration: none; /* Remove underline */
	cursor: pointer;
}

#divFloating {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header_height_in_px);
	background: var(--header_background);
	z-index: 1;
}

#divWordsFromDB {
	position: relative;
	margin-top: var(--header_height_in_px);
	min-height: 50vh;
}

.tbodyTableWordsFromDB {
  vertical-align: top;
  text-align: left;
}

.tableRow {
	border-left: 1px solid #000000;  	
	border-bottom: 1px solid #000000;  	
}

.lettersTypedByUserMagnified {
	font-size: 100px;
	padding-left: 25%;
	padding-right: 25%;
	position: absolute;
}


.divConfigurationSection label {
	display:block;
	clear:both;
}

.txtUserInput {
	width : 15%;
}

.divMenu {
	background: var(--body_menu_background);
}

footer {
	display: flex;
	justify-content: center;
	background: var(--header_background);
}

/* CSS styles for the toast */
.toast {
	background-color: #fd1000; /* Red background color */
	color: white;
	padding: 10px;
	padding-top: 50px;
	border-radius: 8px;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000; /* High z-index to overlay other content */
	text-align: center;
	font-size: 24px;
}

.toastCloseButton {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	font-size:16px;
	color: black;
}


/* Style for the toast content */
.toast-content {
	font-size: 16px;
}
